#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer.dark {
  background-color: var(--dark);
  color: var(--light);
}

#footerInfo {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

#footerInfo span {
  margin: 0 2rem;
}

#backToTop {
  border: none;
  background: none;
  font-size: 29px;
  font-weight: 600;
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  color: inherit;
  margin-top: 40px;
}

#backToTop span {
  margin-left: 1rem;
}

#workWithUs {
  font-size: 50px;
  font-weight: bold;
  font-family: var(--secondary-font);
  text-decoration: underline;
  width: 522px;
}

#email {
  font-size: 35px;
  font-weight: 600;
  font-family: var(--secondary-font);
}

#phone {
  font-size: 35px;
  font-weight: 600;
  font-family: var(--secondary-font);
}

#socials {
  margin: 40px auto 60px auto;
}

#socials a {
  color: inherit;
  margin: 0 1rem;
}

#contacts {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1100px) {
  #footerInfo {
    flex-direction: column;
  }

  #footerInfo span {
    margin-bottom: 40px;
  }

  #socials {
    margin-top: 10px;
  }

  #footerInfo {
    margin-left: 0;
    margin-right: 0;
  }
  #workWithUs {
    margin-right: 0;
    width: auto;
  }
}
