#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer.dark {
  background-color: var(--dark);
  color: var(--light);
}

#footerInfo {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  flex-wrap: wrap;
  max-width: 1500px;
}

#footerInfo span {
  flex: 1 1 0px;
  margin: 0 1rem;
}

#backToTop {
  border: none;
  background: none;
  font-size: 29px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: inherit;
  margin-top: 40px;
}

#backToTop span {
  margin-left: 1rem;
}

#workWithUs {
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}

#socials {
  text-align: center;
}

#socials a {
  color: inherit;
  margin: 0 1rem;
}

#contacts {
  font-size: 35px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1100px) {
  #footerInfo {
    flex-direction: column;
  }

  #footerInfo span {
    margin-bottom: 40px;
  }

  #socials {
    margin-top: 10px;
  }

  #footerInfo {
    margin-left: 0;
    margin-right: 0;
  }
  #workWithUs {
    margin-right: 0;
    width: auto;
  }
}
