#navbar {
  padding-left: 4rem;
  padding-right: 4rem;
  min-height: 135px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 100;
}

#navbarContainer {
  z-index: 3;
}

#navbar #navbarToggler {
  color: var(--dark);
  border: none;
  background-color: none;
}

#navbarToggler span {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%3E%0A%20%20%3Cpath%20id%3D%22Icon_open-menu%22%20data-name%3D%22Icon%20open-menu%22%20d%3D%22M0%2C0V4.3H30V0ZM0%2C12.783v4.3H30v-4.3ZM0%2C25.7V30H30V25.7Z%22%20fill%3D%22%23f5f5f5%22%2F%3E%0A%3C%2Fsvg%3E%0A');
}

#navbar .navItem {
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
  transition: all 0.2s;
}

#navbar .navItem:hover {
  color: white;
}

#dropdownMenu {
  border-radius: 9px;
  position: absolute;
}

#dropdownMenu .dropdownItem:active {
  background: none;
}

.dropdownItem {
  font: normal 20px var(--secondary-font);
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.dropdownItem a {
  display: block;
}

.dropdownDivider {
  width: 40%;
  margin: 0.2rem auto;
  border-top: 1px solid var(--gray);
}

#mobileLogo {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #desktopLogo {
    display: none;
  }

  #mobileLogo {
    display: inline-block;
  }
}
