.pageContent {
    display: flex;
    flex-direction: row;    
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: flex-end;
}

.content {
    flex-basis: 59%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 57%;
    /* border: 1px solid red; */
}

.decoration {
    
    /* margin: 50px auto; */
    flex-basis: 40%;   
    /* border: 1px solid red; */
}

.form {
}

.geometricFigure {
    /* border: 2px solid black; */
}

.emptySpace{
    height: 330px;
}

@media only screen and (max-width: 1024px) {

    .pageContent {
        display: block;
    }
	.decoration {
        display: none;
    }
}

@media only screen and (max-width: 758px) {

    .title{
        width: 75%;
    }
}