@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*,
*:before,
*:after {
  box-sizing: inherit;
}

#__next {
  max-width: 1920px;
  margin: 0px auto;
  padding-top: 70px;
}

body,
html {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  background: #f6f7fb;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: inherit;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

nav > * {
  cursor: pointer;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar ul {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin: 0 1rem;
}

.title {
  color: blue;
}

.page-title {
  width: 100%;
  min-height: 200px;
  text-align: center;
  margin: 50px auto;
}

.page-title h1{
  font-size: 75px;
  margin: 0;
}
.page-title h3{
  width: 50%;
  margin: auto;
}

.regular-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.bold-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.semibold-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}