@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://use.typekit.net/yda2ola.css');

:root {
  --dark: #141414;
  --light: #f5f5f5;
  --gray: #d4d4d4;
  --blue: #14213d;
  --cyan: #76b9b9;
  --orange: #fca311;
  --accent: #6e13b9;
  --dark-accent: #260f39;
  --background: #ebebeb;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Blinker', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --reross: reross-quadratic, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  background: var(--background);
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: inherit;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

nav > * {
  cursor: pointer;
}

.page-container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}

main {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.description {
  font-family: var(--primary-font);
  font-weight: normal;
  font-size: 29px;
}

.page-content {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 50px;
}

.page-title {
  font-weight: bold;
  font-size: 99px;
  width: 100%;
  min-height: 200px;
  text-align: start;
  margin: 50px auto;
  color: var(--blue);
}

.page-title h1 {
  font-weight: 700;
  font-family: var(--poppins);
  font-size: 75px;
  margin: 0;
  color: var(--dark);
}

.page-title h3 {
  font-family: var(--poppins);
  font-weight: 300;
  width: 50%;
  color: var(--blue);
}

.page-title h3.titleContact {
  color: var(--orange);
}

.w-90 {
  width: 90%;
}

.regular-text {
  font-family: var(--primary-font);
  font-weight: 400;
  letter-spacing: 1px;
}

.bold-text {
  font-family: var(--primary-font);
  font-weight: 700;
  letter-spacing: 1px;
  color: #f5f5f5;
}

.semibold-text {
  font-family: var(--primary-font);
  font-weight: 600;
  letter-spacing: 1px;
  color: #f5f5f5;
}

canvas {
  width: 50% !important;
  height: 50% !important;
  outline: none;
}

@media only screen and (max-width: 1275px) {
  canvas {
    width: 30% !important;
    height: 30% !important;
  }
}

@media only screen and (max-width: 760px) {
  .page-title {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 99px;
    width: 100%;
    min-height: 200px;
    margin: 20px auto 50px auto;
  }

  .page-title h1 {
    font-size: 55px;
    margin: 0;
    margin-bottom: 20px;
  }
  .page-title h3 {
    width: 90%;
    margin: 0;
  }
}
