#home {
  background-color: var(--dark);
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url('../public/assets/background.png');
  height: 100vh;
  width: 100%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
}

#jumbotron {
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
  height: 80%;
  color: var(--light);
  padding: 2rem;
}

#jumbotronContent {
  max-width: 1400px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#jumbotron h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: var(--secondary-font);
}

#jumbotron p {
  font-size: 21px;
  font-weight: 450;
  font-family: var(--poppins);
}

#scrollDown {
  border: none;
  background: none;
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  opacity: 1;
}

#scrollDown span {
  font-size: 29px;
  font-family: var(--secondary-font);
  margin: 0 0.5rem;
}

#scrollDown svg {
  position: relative;
  top: 3px;
}

#solutions {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 3rem 100px 3rem;
}

#solutionsTitle {
  font-size: 65px;
  font-weight: normal;
  font-family: var(--reross);
  color: var(--cyan);
}

#solutionsList {
  display: flex;
  max-width: 1050px;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.solution {
  flex: 30%;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--light);
  transition: all 0.3s ease-in-out;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  margin-top: 20px;
}

.solution:hover {
  color: var(--orange);
  border-bottom: 5px solid var(--orange);
  margin-bottom: 20px;
  margin-top: 0;
}

.solution span {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 30px;
  font-family: var(--secondary-font);
}

#about {
  background-color: var(--blue);
  color: var(--light);
  width: 100%;
  padding: 50px 3rem 100px 3rem;
}

#about .content {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutTitle {
  font-size: 65px;
  font-weight: normal;
  font-family: var(--reross);
  color: var(--light);
}

#aboutContent {
  font-size: 21px;
  font-weight: 400;
  font-family: var(--poppins);
  max-width: 1515px;
  text-align: center;
  margin: 18px 0 40px 0;
  line-height: 35px;
}

#aboutImg {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

#vision {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1700px;
  padding: 100px;
  width: 100%;
}

#ourVisionContent {
  display: flex;
  align-items: center;
  color: var(--cyan);
}

#ourVision span {
  font-size: 50px;
  font-weight: normal;
  font-family: var(--reross);
  margin-left: 2rem;
}

.separator {
  border: 5px solid var(--cyan);
  border-radius: 10px;
  margin: 15px 27px 25px 27px;
}

.visionStatement {
  display: flex;
  align-items: stretch;
  color: var(--light);
  font-family: var(--poppins);
}

.visionNo,
.visionTitle {
  font-weight: bold;
  line-height: 60px;
  max-width: 268px;
  font-size: 35px;
}

.visionContent {
  max-width: 268px;
  margin: 0;
}

.visionContent p {
  margin-top: 8px;
  font-size: 25px;
  font-weight: 300;
}

#meetTheTeam {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  color: var(--light);
  width: 100%;
  padding: 100px 3rem;
}

#meetTheTeam .content {
  margin: 0 auto;
  max-width: 1700px;
  display: flex;
  align-items: center;
}

#textContent {
  z-index: 2;
  flex: 1 1 500px;
}

#meetTheTeamImg {
  min-width: 0;
  position: relative;
  right: 30px;
  z-index: 1;
  max-width: 100%;
  height: auto;
  width: auto\9;
  flex: 2 2 500px;
}

#textContent h2 {
  font-size: 65px;
  font-weight: normal;
  font-family: var(--reross);
  color: var(--light);
}

#textContent p {
  max-width: 500px;
  font-size: 21px;
  font-family: var(--poppins);
  font-weight: 400;
  margin: 10.5px 0;
}

#meetTheTeamButton {
  border: none;
  background: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#buttonText {
  margin-left: 1rem;
  font-size: 23px;
  font-weight: bold;
}

@media only screen and (max-width: 1100px) {
  #vision {
    flex-wrap: wrap;
    padding: 100px 10px;
  }

  #ourVision {
    text-align: center;
    flex: 100%;
  }

  #ourVisionContent {
    display: inline-block;
    margin: 0 auto;
  }

  .visionStatement {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  #meetTheTeam .content {
    flex-direction: column;
  }

  #textContent {
    flex: 1 1 auto;
  }

  #meetTheTeamImg {
    flex: 1 1 auto;
    right: 0px;
    height: auto;
    width: auto\9;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 880px) {
  #solutionsList {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 750px) {
  #jumbotron p {
    display: none;
  }

  #jumbotron {
    height: 50%;
  }
}

@media only screen and (max-width: 600px) {
  #jumbotron h1 {
    font-size: 40px;
  }

  #jumbotron p {
    font-size: 19px;
  }
}
