#home {
  margin-bottom: 200px;
}

#homeContent {
  position: relative;
  max-width: 1365px;
  width: 100%;
  margin-top: 300px;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 0;
}

#hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

#backgroundBlob {
  position: absolute;
  top: 0;
  right: 0;
}

#canvasContainer {
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

#jumbotron {
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
  height: 80%;
  color: var(--light);
  padding: 2rem;
}

#jumbotronContent {
  max-width: 1400px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#jumbotron h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: var(--poppins-font);
  max-width: 968px;
  color: var(--blue);
}

#scrollDown {
  border: none;
  background: none;
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  opacity: 1;
}

#scrollDown span {
  font-size: 29px;
  font-family: var(--secondary-font);
  margin: 0 0.5rem;
  display: relative;
}

#scrollDown svg {
  position: relative;
  top: 3px;
}

#solutions {
  margin: 0 auto;
  max-width: 1365px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#solutionsTitle {
  font-size: 46px;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
}

#solutionsList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  border-top: 2px solid var(--dark);
  border-right: 2px solid var(--dark);
}

#solutionsList span {
  flex-grow: 1;
  text-align: center;
  height: 100px;
  max-width: 100%;
  flex: 25%;
  line-height: 100px;
  position: relative;
}

.solution {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-size: 29px;
}

.solution:hover {
  color: var(--orange);
  font-size: 31px;
}

.solution svg {
  transition: all 0.3s ease-in-out;
}

.solution:hover svg {
  fill: var(--orange);
}

.solution span {
  margin-left: 1rem;
  font-weight: 600;
}

#solutions .dot {
  height: 20px;
  width: 20px;
  background-color: var(--dark);
  border-radius: 50%;
  position: absolute;
  top: -10px;
}

#about {
  width: 100%;
  padding: 150px 0 220px 0;
  max-width: 1365px;
  border-right: 2px solid var(--dark);
  position: relative;
}

#aboutTitle {
  font-size: 46px;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
}

#aboutContent {
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  max-width: 622px;
  margin-bottom: 0;
  padding-right: 30px;
}

#aboutImg {
  width: 100%;
  max-width: 1150px;
  height: auto;
  position: relative;
  left: -5vw;
  top: 210px;
}

#vision {
  padding: 550px 180px 0px 0;
  max-width: 1365px;
  border-right: 2px solid var(--dark);
  width: 100%;
  position: relative;
}

#abstractArt {
  width: 718px;
  height: 691px;
  position: absolute;
  bottom: 0px;
  left: 407px;
  z-index: -1;
}

#ourVisionContent {
  display: flex;
  align-items: center;
  color: var(--cyan);
}

#ourVision {
  font-size: 46px;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
}

#visionLine {
  border-top: 2px solid var(--dark);
  width: 3800px;
  margin-bottom: 0;
}

.separator {
  border: 5px solid var(--cyan);
  border-radius: 10px;
  margin: 15px 27px 25px 27px;
}

#visionStatements {
  display: flex;
  flex-wrap: wrap;
  min-height: 230px;
}

.visionStatement {
  max-width: 407px;
  height: 210px;
  padding: 45px 0;
}

.visionTitle {
  font-weight: 600;
  line-height: 60px;
  font-size: 29px;
}

.visionText {
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
}

#meetTheTeam {
  padding: 200px 180px 270px 0;
  max-width: 1365px;
  border-right: 2px solid var(--dark);
  width: 100%;
  position: relative;
}

#meetTheTeam .dots span {
  position: absolute;
  right: -11px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: var(--dark);
}

#meetTheTeam .dot1 {
  top: 140px;
}

#meetTheTeam .dot2 {
  top: 190px;
}

#meetTheTeam .dot3 {
  top: 240px;
}

#meetTheTeam .dot4 {
  top: 290px;
}

#meetTheTeam .dot5 {
  top: 340px;
}

#meetTheTeam .dot6 {
  top: 390px;
}

#meetTheTeam .content {
  width: 100%;
  text-align: right;
}

#textContent h2 {
  font-size: 46px;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  margin-bottom: 35px;
}

#textContent p {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  max-width: 450px;
  margin-left: auto;
  margin-right: 0;
}

#meetTheTeamButton {
  border: none;
  background: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: row-reverse;
  color: #2d4b8b;
}

#buttonText {
  margin-right: 0.5rem;
  font-size: 16px;
  font-weight: bold;
}

#lShape {
  max-width: 1404px;
  max-height: 2563px;
  position: absolute;
  bottom: 0px;
  left: -1rem;
  z-index: -1;
  margin-right: 2rem;
}

#lMobile {
  max-width: 1333px;
  position: absolute;
  bottom: 0px;
  left: 46px;
  z-index: -1;
  position: relative;
  width: 70%;
  left: -14px;
  display: none;
}

#feupImg {
  display: none;
  position: relative;
  left: -35px;
  max-width: 100%;
  margin-top: 3.5rem;
}

#yellowLinesMobile {
  display: none;
}

@media only screen and (max-width: 1275px) {
  #meetTheTeam {
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  #vision {
    flex-wrap: wrap;
  }

  #ourVision {
    text-align: center;
    flex: 100%;
  }

  #ourVisionContent {
    display: inline-block;
    margin: 0 auto;
  }

  #visionStatements {
    height: 420px;
  }

  #abstractArt {
    bottom: 420px;
    max-width: 450px;
    max-height: 433px;
    width: auto;
    height: auto;
  }

  #lShape path:nth-of-type(2) {
    display: none;
  }

  #feupImg {
    display: inline-block;
  }

  #about {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  #meetTheTeam .content {
    flex-direction: column;
  }

  #textContent {
    flex: 1 1 auto;
  }

  #meetTheTeamImg {
    flex: 1 1 auto;
    right: 0px;
    height: auto;
    width: auto\9;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 880px) {
  #solutionsList {
    flex-direction: column;
    align-items: center;
  }

  #vision {
    padding-top: 200px;
  }
}

@media only screen and (max-width: 770px) {
  #home #homeContent {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #jumbotron h1 {
    font-size: 21px;
    margin-right: 0;
    padding: 0 1.5rem;
  }

  #jumbotron {
    height: 50%;
  }

  #jumbotronContent {
    width: 100%;
    text-align: center;
    position: static;
    display: inline-block;
    margin-top: 100px;
  }

  #backgroundBlob {
    display: none;
  }

  #hero {
    height: auto;
  }

  #homeContent {
    margin-top: 4rem;
  }

  #home section h2 {
    font-size: 21px;
    text-align: center;
    border-bottom: 2px solid #000;
    line-height: 0.1em;
    margin: 0;
  }

  #home section h2 span {
    background: var(--background);
    padding: 0 10px;
  }

  #solutionsList {
    align-items: flex-start;
    border-top: none;
    padding: 60px 0;
    border-right: none;
    border-left: 2px solid var(--dark);
  }

  #solutionsList span {
    padding-left: 0.5rem;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }

  #solutions .dot {
    height: 16px;
    width: 16px;
    background-color: var(--dark);
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: calc(50% - 8px);
  }

  #visionLine {
    display: none;
  }

  #vision {
    padding: 0;
    border-right: none;
    border-left: 2px solid var(--dark);
    margin-bottom: 0;
  }

  #visionStatements {
    justify-content: center;
    padding: 4rem 0;
    height: 350px;
  }

  .visionStatement {
    text-align: center;
    padding: 0 1rem;
    height: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .visionTitle {
    font-size: 18px;
    line-height: 20px;
  }

  .visionText {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    margin-top: 1rem;
  }

  #about {
    padding: 0;
    margin-bottom: 0;
    border-right: none;
    border-left: 2px solid var(--dark);
  }

  #aboutContent {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    padding: 0 2rem;
    margin-top: 40px;
    margin-right: 0;
    max-width: 100%;
  }

  #meetTheTeam {
    border-right: none;
    border-left: 2px solid var(--dark);
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    height: 515px;
    position: relative;
  }

  #meetTheTeam .content {
    float: right;
    width: auto;
  }

  #meetTheTeam p {
    font-size: 13px;
    line-height: 21px;
    max-width: 60vw;
  }

  #meetTheTeam .dots {
    display: none;
  }

  #home #meetTheTeam h2 {
    border-bottom: none;
    text-align: right;
    margin-bottom: 35px;
  }

  #home #meetTheTeam h2 span {
    padding-right: 0;
  }

  #lMobile {
    position: absolute;
    display: inline;
    width: 450px;
    height: 515px;
    left: -1px;
    top: 0;
  }

  #yellowLinesMobile {
    display: inline;
    position: absolute;
    bottom: 0px;
    margin-right: 1rem;
    margin-left: 1rem;
    max-height: 2020px;
    z-index: 0;
  }

  #home {
    margin-bottom: 2rem;
  }

  #yellowLines {
    display: none;
  }

  #lShape {
    display: none;
  }

  #yellowLines {
    display: none;
  }

  #abstractArt {
    bottom: 350px;
    width: 247px;
    height: 237px;
    left: 50%;
  }

  #feupImg {
    margin-bottom: 2.5rem;
  }
}
