#home {
  z-index: 0;
  margin-bottom: 200px;
}

#homeContent {
  position: relative;
  max-width: 1365px;
  width: 1365px;
  margin-top: 300px;
}

#hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

#backgroundBlob {
  position: absolute;
  top: 0;
  right: 0;
}

#jumbotron {
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
  height: 80%;
  color: var(--light);
  padding: 2rem;
}

#jumbotronContent {
  max-width: 1400px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#jumbotron h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: var(--poppins-font);
  width: 968px;
  color: var(--blue);
}

#scrollDown {
  border: none;
  background: none;
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  opacity: 1;
}

#scrollDown span {
  font-size: 29px;
  font-family: var(--secondary-font);
  margin: 0 0.5rem;
  display: relative;
}

#scrollDown svg {
  position: relative;
  top: 3px;
}

#solutions {
  margin: 0 auto;
  max-width: 1365px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#solutionsTitle {
  font-size: 46px;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
}

#solutionsList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 2px solid var(--dark);
  border-right: 2px solid var(--dark);
}

#solutionsList span {
  flex-grow: 1;
  text-align: center;
  height: 100px;
  line-height: 100px;
  position: relative;
}

.solution {
  flex: 30%;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-size: 29px;
}

.solution:hover {
  color: var(--orange);
  font-size: 31px;
}

.solution svg {
  transition: all 0.3s ease-in-out;
}

.solution:hover svg {
  fill: var(--orange);
}

.solution span {
  margin-left: 1rem;
  font-weight: 600;
}

#solutions .dot {
  height: 20px;
  width: 20px;
  background-color: var(--dark);
  border-radius: 50%;
  position: absolute;
  top: -10px;
}

#about {
  width: 100%;
  padding: 100px 180px 100px 0;
  max-width: 1365px;
  border-right: 2px solid var(--dark);
  position: relative;
}

#aboutTitle {
  font-size: 46px;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
}

#aboutContent {
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  max-width: 622px;
}

#aboutImg {
  max-width: 100%;
  height: auto;
  width: auto\9;
  position: relative;
  left: -110px;
  top: 210px;
  margin-bottom: 100px;
}

#vision {
  padding: 550px 180px 100px 0;
  max-width: 1365px;
  border-right: 2px solid var(--dark);
  width: 100%;
  position: relative;
}

#abstractArt {
  position: absolute;
  bottom: 100px;
  left: 407px;
  z-index: -1;
}

#ourVisionContent {
  display: flex;
  align-items: center;
  color: var(--cyan);
}

#ourVision {
  font-size: 46px;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  text-align: left;
  margin-bottom: 35px;
}

#visionLine {
  border-top: 2px solid var(--dark);
  width: 3800px;
}

.separator {
  border: 5px solid var(--cyan);
  border-radius: 10px;
  margin: 15px 27px 25px 27px;
}

#visionStatements {
  display: flex;
}

.visionStatement {
  max-width: 407px;
  height: 213px;
  padding: 40px 0;
}

.visionTitle {
  font-weight: 600;
  line-height: 60px;
  font-size: 29px;
}

.visionText {
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
}

#meetTheTeam {
  padding: 100px 180px 270px 0;
  max-width: 1365px;
  border-right: 2px solid var(--dark);
  width: 100%;
  position: relative;
}

#meetTheTeam .dots span {
  position: absolute;
  right: -11px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: var(--dark);
}

#meetTheTeam .dot1 {
  top: -10px;
}

#meetTheTeam .dot2 {
  top: 40px;
}

#meetTheTeam .dot3 {
  top: 90px;
}

#meetTheTeam .dot4 {
  top: 140px;
}

#meetTheTeam .dot5 {
  top: 190px;
}

#meetTheTeam .dot6 {
  top: 240px;
}

#meetTheTeam .content {
  width: 100%;
  text-align: right;
}

#textContent h2 {
  font-size: 46px;
  font-weight: bold;
  color: var(--dark);
  width: 100%;
  margin-bottom: 35px;
}

#textContent p {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  max-width: 450px;
  margin-left: auto;
  margin-right: 0;
}

#meetTheTeamButton {
  border: none;
  background: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: row-reverse;
  color: #2d4b8b;
}

#buttonText {
  margin-right: 0.5rem;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 1100px) {
  #vision {
    flex-wrap: wrap;
    padding: 100px 10px;
  }

  #ourVision {
    text-align: center;
    flex: 100%;
  }

  #ourVisionContent {
    display: inline-block;
    margin: 0 auto;
  }

  .visionStatement {
    margin-top: 2rem;
  }
}

#lShape {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

#darkCircle {
  position: absolute;
  bottom: 102px;
  left: 150px;
  z-index: -1;
}

@media only screen and (max-width: 1000px) {
  #meetTheTeam .content {
    flex-direction: column;
  }

  #textContent {
    flex: 1 1 auto;
  }

  #meetTheTeamImg {
    flex: 1 1 auto;
    right: 0px;
    height: auto;
    width: auto\9;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 880px) {
  #solutionsList {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 750px) {
  #jumbotron p {
    display: none;
  }

  #jumbotron {
    height: 50%;
  }
}

@media only screen and (max-width: 600px) {
  #jumbotron h1 {
    font-size: 40px;
  }

  #jumbotron p {
    font-size: 19px;
  }
}
