.pressContent {
    display: flex;
    width: 70%;
    height: 510px;
    justify-content: space-between;
    margin-bottom: 131px;
    margin-top: 20px;
}

.downloadButtons {
   flex-basis: 35%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.downloadButtons > div {
    height: 120px;
}

.interactiveManualDiv {
    flex-basis: 55%;
    background-color: #110818;
}

.geometric {
    align-self: flex-start;
}

.title {
    align-self: flex-start;
    margin-left: 14.5%;
    height: 3.5rem;
}

@media only screen and (max-width: 1024px) {

    .title {
        height: 6rem;
    }
    
	.pressContent {
        display: flex;
        flex-direction: column-reverse;
    }

    .downloadButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 650px) and (max-width: 1024px){
	.pressContent {
        height: 1000px;
        width: 80%;
    }

    .downloadButtons {
        flex-basis: 53%;
    }

    .interactiveManualDiv {
        flex-basis: 42%;
    }   
}

@media only screen and (min-width: 400px) and (max-width: 650px) {
	.pressContent {
        height: 900px;
        width: 80%;
    }

    .downloadButtons {
        flex-basis: 60%;
    }

    .interactiveManualDiv {
        flex-basis: 35%;
    }   
}

@media only screen and (max-width: 400px) {
	.pressContent {
        height: 700px;
        width: 80%;
    }

    .downloadButtons {
        flex-basis: 50%;
    }

    .interactiveManualDiv {
        flex-basis: 47%;
    }   

    .downloadButtons > div {
        height: 80px;
    }
}