@import url('https://use.typekit.net/yda2ola.css');

.main {
    margin-bottom: 50px; 
}

.pageTitle {
    font-weight: bold;
    margin: 5%;
    margin-left: 10%;
    align-self: flex-start;
}


.solution {
    display: flex;
    margin: 5vh;
    align-items: center; 
    width: 50%;
}

.solutionDescription {
    color: var(--dark);
    background-color: var(--light);
    padding-top: 10%;
    padding-bottom: 10%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.solutionTitle {
    font-weight: bold;
    line-height: 1.5em;
    font-size: 2.5vw;
}

.solutionText {
    line-height: 1.5em;
    font-size: 1.25vw;
}

.boxLeft {
    border-top-left-radius: 50%;
    box-shadow: 5px 5px 30px 0px lightgrey;
    padding-left: 7%;
    padding-right: 5%;
    text-align: right;

}

.boxRight {
    border-top-right-radius: 50%;
    box-shadow: 5px 5px 30px 0px lightgrey;
    padding-left: 5%;
    padding-right: 7%;
}

.squareLeft {
    width: 33%;
    height: 33%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -5%;
    margin-left: -5%;
    background-color: orange;
    z-index: 1;
}

.squareRight {
    width: 33%;
    height: 33%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -5%;
    margin-right: -5%;
    background-color: orange;
    z-index: 1;
}


.imageSolution {
    width: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    
}

.imageSolution > img {
    width: 100%;
    position: relative;
    z-index: 2;
}

.imageContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    object-fit: contain;
    /*border: 10px solid transparent;
    padding: 15px;
    border-image: url(/../public/assets/orange-shape.svg) 30 round;*/
}

.img-container {
    position: relative;
}

.img-corner {
    position: absolute; 
    top: 5px;
    right: 5px; 
    
}

.borderimg {
    border: 10px solid transparent;
    background-image: url(/../public/assets/orange-shape.png);
}


@media only screen and (max-width: 600px){
    
.solution {
    display: flex;
    margin: 5vh;
    align-items: center; 
    width: 85%;
}
}