.page {
	color: var(--light);
}

.delimiter {
	width: 100%;
	margin-bottom: 30px;
}

.hr {
	border: 1px solid var(--orange);
}

.member_div {
	height: auto;
	width: 100%;
}

.member_photo {
	display: block;
	width: 100%;
	height: 200px;
	box-shadow: 0px 3px 6px #00000029;
}

.light_photo_background {
	background-color: white;
}

.gray_photo_background {
	background-color: #a81c1c;
}

.member_div:hover > .member_info {
	opacity: 1;
}

.member_info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.member_info_orange_bg {
	background-color: #fca2118c;
}
.member_info_blue_bg {
	background-color: #77bbbb80;
}

.member_name {
	margin-top: 10px;
}

.member_role {
	color: var(--cyan);
}

.partial_div {
	width: 90%;
	margin: auto;
}

.partial_header {
	display: flex;
}

.partial_header_tex {
	width: 50%;
	font-size: 20px;
	color: #f5f5f5;
}

@media only screen and (max-width: 766px) {
	.partial_header_tex {
		width: 100%;
	}

	.leaderMembers{
		margin:0 auto;
	}

	.leaderMembers .member_div img{
		min-height: 320px;
	}
}
